body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* -------------------------HEADER--------------------------------------- */
/* Barre de navigation */
.logo{
  max-width: 120px;
  height: auto;
  margin-top: 10px;
}

#header{
  font-size: small;
  /* background-color: #f29441; */
  background: linear-gradient(#f29441, #994e0d);
  margin: 0px;
  height: 120px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.navBar{
  list-style: none;
  display: flex;
  align-items: center;
}

#header li{
  margin: 0 40px;
  color: white;
  font-weight: 700;
  border-left: 0.15rem solid rgb(255, 255, 255);
  border-right: 0.15rem solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 9px 9px;
  transition-duration: 0.5s;
}

#header li:hover{
  transform: translateY(3px);

}
.navigation {
      text-decoration: none;
      color: white;
}
/* ---------DEBUT-------DU--------TITRE PRINCIPAL----------------------------- */
#titre_actu{
    display: flex;
    margin: 100px 50px;
}
.actu{
    display: inline;
    margin-top: 0;
}
/* ------------------FIN DU TITRE PRINCIPAL--------------------- */
.contenu_center{
    display: flex;
    justify-content: center;
}


#hr{
  margin: 100px auto;
}
.titre_h2{
    background-color: white;
    border-radius: 10px;
    border: 1px solid #8c8c8c; 
    padding: 10px 75px; 
    -webkit-box-shadow: 5px 5px 10px 2px #8C8C8C;
    box-shadow: 5px 5px 10px 2px #8C8C8C;
}
#cadre_linkedin{
    width: 800px;
    height: 420px;
    border-radius: 10px;
    border: 1px solid #8c8c8c; 
    padding: 10px;
    -webkit-box-shadow: 5px 5px 10px 2px #8C8C8C;
    box-shadow: 5px 5px 10px 2px #8C8C8C;
}
#titre_linkedin{
    margin-top: -60px;
}
#cadre_actu{
    width: 800px;
    height: 420px;
    border-radius: 10px;
    border: 1px solid #8c8c8c; 
    padding: 10px;
    -webkit-box-shadow: 5px 5px 10px 2px #8C8C8C;
    box-shadow: 5px 5px 10px 2px #8C8C8C;
}
#titre_moment{
    margin-top: -60px;
}
/* -------------------DEBUT DU DIAPORAMA NUMERO 1-------------------------- */
.custom-slider { 
  display: none; 
}
.slide-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 20px;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-color: #111111;
    opacity: 0.5;
    transition: background-color 0.6s ease;
}
.prev{ 
  left: 15px; 
}
.next { 
  right: 15px; 
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.5);
}
.slide-text {
    position: absolute;
    color: #ffffff;
    font-size: 15px;
    padding: 15px;
    bottom: 15px;
    width: 100%;
    text-align: center;
}
.slide-index {
    color: #ffffff;
    font-size: 13px;
    padding: 15px;
    position: absolute;
    top: 0;
}
.slide-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.slide-dot{ text-align: center; }
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover { 
    background-color: #111111; }
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}
/* --------------------FIN DU PREMIER DIAPORAMA---------------------------- */
/* ----------------------DEBUT DU DEUXIEME DIAPORAMA------------------------ */
.custom-slider2 { 
  display: none; 
}
.slide-container2 {
    max-width: 800px;
    position: relative;
    margin: auto;
}
.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 20px;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  background-color: #111111;
  opacity: 0.5;
  transition: background-color 0.6s ease;
}
.prev2{ left: 15px; }
.next2 { right: 15px; }
.prev2:hover, .next2:hover {
    background-color: rgba(0,0,0,0.5);
}
.slide-text2 {
    position: absolute;
    color: #ffffff;
    font-size: 15px;
    padding: 15px;
    bottom: 15px;
    width: 100%;
    text-align: center;
}
.slide-index2 {
    color: #ffffff;
    font-size: 13px;
    padding: 15px;
    position: absolute;
    top: 0;
}
.slide-img2{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.slide-dot2{ text-align: center; }
.dot2 {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active2, .dot2:hover { 
    background-color: #111111; }
.fade2 {
    animation-name: fade2;
    animation-duration: 1s;
}
@keyframes fade2 {
    from {opacity: 0}
    to {opacity: 1}
}
/* ------------------FIN DU DEUXIEME DIAPORAMA --------------------- */
/* Début du footer */
.footer{
  width: 100%;
  background: linear-gradient(#994e0d, #f29441 80%);
}

#footer_container{ /*background du footer*/
  width: 100%;
  height:200px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.logoFooter{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  font-weight: bold;
}

.leftColumnFooter, .rightColumnFooter{ /*organisation en colonne des liens inclus dans le footer*/
display: flex;
flex-direction: column;
justify-content: center;
height:100%;
}

.leftColumnFooter a, .leftColumnFooter h5, .rightColumnFooter a{
min-width : 250px;
margin: 2px;
padding : 2px;
text-align: center;
color:white;
text-decoration : none;
}

.leftColumnFooter a, .leftColumnFooter h5{
  font-size: 1.2rem;
  font-weight: bold;
}

.leftColumnFooter a:hover{
  color: rgb(20, 20, 20);
}

.rightColumnFooter a {
  font-size: 0.8rem;
}

.rightColumnFooter a:hover{
  color: rgb(20, 20, 20);
}
#RNCP{ /*position du logo RNCP*/
  max-width: 200px;
  height: auto;
  position: relative;
  top: 100px;
  transform: rotate(290deg);
}
.copyright{ /*bande année, copyright, droits réservés*/
  font-size: small;
  color: white;
  text-align: center;
  background-color:#F29441;
  padding-bottom: 5px;
}
.rightColumnFooter a img{
  max-width: 50px;
  height: auto;
}
.rightColumnFooter{
  display: flex;
  flex-direction: column;
  justify-content:right ;
  margin: 5px;
}
.logoRS_HB{
  display: flex;
  flex-direction: column;
}
.mentions{
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 1500px) {
  #carrousel{
      margin: auto;
      width: 55%;
      height: 55%;
      border-radius: 15px;
      position: relative;
      overflow: hidden;
      box-shadow: -5px -5px 10px rgba(158, 158, 158, 0.25), 5px 5px 10px rgba(158, 158, 158, 0.25);
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: -20px;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-color: #111111;
    opacity: 0.5;
    transition: background-color 0.6s ease;
}
.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: -20px;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  background-color: #111111;
  opacity: 0.5;
  transition: background-color 0.6s ease;
}
}
/*Fin du footer */