
/* Barre de navigation */
/* Barre de navigation */
.logo{
    max-width: 120px;
    height: auto;
    margin-top: 10px;
}

#header{
    font-size: small;
    /* background-color: #f29441; */
    background: linear-gradient(#f29441, #994e0d);
    margin: 0px;
    height: 120px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navBar{
    list-style: none;
    display: flex;
    align-items: center;
}

#header li{
    margin: 0 40px;
    color: white;
    font-weight: 700;
    border-left: 0.15rem solid rgb(255, 255, 255);
    border-right: 0.15rem solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 9px 9px;
    transition-duration: 0.5s;
}

#header li:hover{
    transform: translateY(3px);

}
.navigation {
        text-decoration: none;
        color: white;
}
/* Fin de la barre de navigation */

body{
    margin: auto;
    width: 100%;
}
p{
    font-family: Helvetica, sans-serif;
    font-size: 1.3em;
}
h1{
    font-size: 2.2em;
    font-weight: bold;
}
h2{
    font-size: 1.8em;
    font-weight: bold;
}
mark{
    font-weight: bold;
    background-color: white;
    text-decoration: underline solid 0.1px;
}
strong{
    font-weight: normal;
    text-decoration: underline solid 0.1px;
}

.myIframe{
    border: none;
}



/* The Modal (background) */
.modal {
    
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    border-radius: 0.5rem;
    background-color: #fefefe;
    margin: 1% auto; /* 15% from the top and centered */
    padding: 1rem;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


/* Mise en forme des textes */
.txt{
    width: 60%;
    text-align: center;
    padding: 1% 5%;
    margin: 2% auto 2% auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.25), 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.txt2{
    width: 20%;
    text-align: center;
    padding: 1% 5%;
    margin: 5% auto 5% auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.25), 5px 5px 4px rgba(0, 0, 0, 0.25);
}

/* Photos */
.photoGroupe {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.25), 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.photo {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0;
    border-radius: 0.5rem;
  }

.photoGroupe{
    background-image: url(../img/photo-groupe.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}
.photoGroupe:hover{
    background-image: url(../img/photo-groupe-hover.jpg);
}

/* Début de l'animation cartes */
.cards {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -10%;
    bottom: 10%;
    display: flex;
    padding: 0 50px;
    justify-content: center;
    position: static;
    left: 0;
    right: 0;
    height: 175px;
}

.card {
    height: 175px;
    margin: 0 -25px;
    position: relative;
    width: 150px;
}
.card:after {
    bottom: 0;
    content: "";
    left: -60px;
    position: absolute;
    right: -60px;
    top: 0px;
    z-index: 10;
}

.card-face {
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: 800ms cubic-bezier(0.19, 1, 0.22, 1) transform;
}
.card-face:after {
    -webkit-animation: none;
    animation: none;
    background: #fff;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.card-label {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.025em;
    padding: 15px 0 0 15px;
}

.card:nth-child(1) .card-face {
    background: url(https://i.imgur.com/W9Azeps.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transform: translateY(42.8571428571px) rotate(-26.7857142857deg);
}
.card:nth-child(1) .card-face .card-label {
    color: #db0000;
    text-shadow: -0.025em 0.025em 0 #ff8080;
}
.card:nth-child(1):hover .card-face {
    transform: translateY(-100px) rotate(0deg) scale(2);
    transition-duration: 0ms;
    z-index: 5;
}
.card:nth-child(1):hover .card-face:after {
    -webkit-animation: fade 250ms ease-out forwards;
    animation: fade 250ms ease-out forwards;
}
.card:nth-child(1):hover:after {
    top: -175px;
}

.card:nth-child(2) .card-face {
    background:url(https://i.imgur.com/brVXFXU.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transform: translateY(37.1428571429px) rotate(-23.2142857143deg);
}
.card:nth-child(2) .card-face .card-label {
    color: #db0052;
    text-shadow: -0.025em 0.025em 0 #ff80af;
}
.card:nth-child(2):hover .card-face {
    transform: translateY(-100px) rotate(0deg) scale(2);
    transition-duration: 0ms;
    z-index: 5;
}
.card:nth-child(2):hover .card-face:after {
    -webkit-animation: fade 250ms ease-out forwards;
    animation: fade 250ms ease-out forwards;
}
.card:nth-child(2):hover:after {
    top: -175px;
}

.card:nth-child(3) .card-face {
    background: url(https://i.imgur.com/06sDlVx.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transform: translateY(31.4285714286px) rotate(-19.6428571429deg);
}
.card:nth-child(3) .card-face .card-label {
    color: #db00a4;
    text-shadow: -0.025em 0.025em 0 #ff80df;
}
.card:nth-child(3):hover .card-face {
    transform: translateY(-100px) rotate(0deg) scale(2);
    transition-duration: 0ms;
    z-index: 5;
}
.card:nth-child(3):hover .card-face:after {
    -webkit-animation: fade 250ms ease-out forwards;
    animation: fade 250ms ease-out forwards;
}
.card:nth-child(3):hover:after {
    top: -175px;
}

.card:nth-child(4) .card-face {
    background: url(https://i.imgur.com/oJeEXmI.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transform: translateY(25.7142857143px) rotate(-16.0714285714deg);
}
.card:nth-child(4) .card-face .card-label {
    color: #c000db;
    text-shadow: -0.025em 0.025em 0 #ef80ff;
}
.card:nth-child(4):hover .card-face {
    transform: translateY(-100px) rotate(0deg) scale(2);
    transition-duration: 0ms;
    z-index: 5;
}
.card:nth-child(4):hover .card-face:after {
    -webkit-animation: fade 250ms ease-out forwards;
    animation: fade 250ms ease-out forwards;
}
.card:nth-child(4):hover:after {
    top: -175px;
}

.card:nth-child(5) .card-face {
    background: url(https://imgur.com/fJZVMaJ.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transform: translateY(20px) rotate(-12.5deg);
}
.card:nth-child(5) .card-face .card-label {
    color: #6e00db;
    text-shadow: -0.025em 0.025em 0 #bf80ff;
}
.card:nth-child(5):hover .card-face {
    transform: translateY(-100px) rotate(0deg) scale(2);
    transition-duration: 0ms;
    z-index: 5;
}
.card:nth-child(5):hover .card-face:after {
    -webkit-animation: fade 250ms ease-out forwards;
    animation: fade 250ms ease-out forwards;
}
.card:nth-child(5):hover:after {
    top: -175px;
}

.card:nth-child(6) .card-face {
    background: url(https://imgur.com/88RxsHM.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transform: translateY(14.2857142857px) rotate(-8.9285714286deg);
}
.card:nth-child(6) .card-face .card-label {
    color: #1b00db;
    text-shadow: -0.025em 0.025em 0 #8f80ff;
}
.card:nth-child(6):hover .card-face {
    transform: translateY(-100px) rotate(0deg) scale(2);
    transition-duration: 0ms;
    z-index: 5;
}
.card:nth-child(6):hover .card-face:after {
    -webkit-animation: fade 250ms ease-out forwards;
    animation: fade 250ms ease-out forwards;
}
.card:nth-child(6):hover:after {
    top: -175px;
}

.card:nth-child(7) .card-face {
    background: url(https://imgur.com/FxlrSfA.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transform: translateY(8.5714285714px) rotate(-5.3571428571deg);
}
.card:nth-child(7) .card-face .card-label {
    color: #0037db;
    text-shadow: -0.025em 0.025em 0 #809fff;
}
.card:nth-child(7):hover .card-face {
    transform: translateY(-100px) rotate(0deg) scale(2);
    transition-duration: 0ms;
    z-index: 5;
}
.card:nth-child(7):hover .card-face:after {
    -webkit-animation: fade 250ms ease-out forwards;
    animation: fade 250ms ease-out forwards;
}
.card:nth-child(7):hover:after {
    top: -175px;
}

.card:nth-child(8) .card-face {
    background: url(https://imgur.com/NTcCM3z.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transform: translateY(2.8571428571px) rotate(-1.7857142857deg);
}
.card:nth-child(8) .card-face .card-label {
    color: #0089db;
    text-shadow: -0.025em 0.025em 0 #80cfff;
}
.card:nth-child(8):hover .card-face {
    transform: translateY(-100px) rotate(0deg) scale(2);
    transition-duration: 0ms;
    z-index: 5;
}
.card:nth-child(8):hover .card-face:after {
    -webkit-animation: fade 250ms ease-out forwards;
    animation: fade 250ms ease-out forwards;
}
.card:nth-child(8):hover:after {
    top: -175px;
}

.card:nth-child(9) .card-face {
    background: url(https://imgur.com/WcHWEwx.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transform: translateY(2.8571428571px) rotate(1.7857142857deg);
}
.card:nth-child(9) .card-face .card-label {
    color: #00dbdb;
    text-shadow: -0.025em 0.025em 0 #80ffff;
}
.card:nth-child(9):hover .card-face {
    transform: translateY(-100px) rotate(0deg) scale(2);
    transition-duration: 0ms;
    z-index: 5;
}
.card:nth-child(9):hover .card-face:after {
    -webkit-animation: fade 250ms ease-out forwards;
    animation: fade 250ms ease-out forwards;
}
.card:nth-child(9):hover:after {
    top: -175px;
}

.card:nth-child(10) .card-face {
    background: url(https://imgur.com/VVpWZrJ.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transform: translateY(8.5714285714px) rotate(5.3571428571deg);
}
.card:nth-child(10) .card-face .card-label {
    color: #00db89;
    text-shadow: -0.025em 0.025em 0 #80ffcf;
}
.card:nth-child(10):hover .card-face {
    transform: translateY(-100px) rotate(0deg) scale(2);
    transition-duration: 0ms;
    z-index: 5;
}
.card:nth-child(10):hover .card-face:after {
    -webkit-animation: fade 250ms ease-out forwards;
    animation: fade 250ms ease-out forwards;
}
.card:nth-child(10):hover:after {
    top: -175px;
}

.card:nth-child(11) .card-face {
    background: url(https://imgur.com/gFTsP13.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transform: translateY(14.2857142857px) rotate(8.9285714286deg);
}
.card:nth-child(11) .card-face .card-label {
    color: #00db37;
    text-shadow: -0.025em 0.025em 0 #80ff9f;
}
.card:nth-child(11):hover .card-face {
    transform: translateY(-100px) rotate(0deg) scale(2);
    transition-duration: 0ms;
    z-index: 5;
}
.card:nth-child(11):hover .card-face:after {
    -webkit-animation: fade 250ms ease-out forwards;
    animation: fade 250ms ease-out forwards;
}
.card:nth-child(11):hover:after {
    top: -175px;
}

.card:nth-child(12) .card-face {
    background: url(https://imgur.com/vFLFGLR.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transform: translateY(20px) rotate(12.5deg);
}
.card:nth-child(12) .card-face .card-label {
    color: #1bdb00;
    text-shadow: -0.025em 0.025em 0 #8fff80;
}
.card:nth-child(12):hover .card-face {
    transform: translateY(-100px) rotate(0deg) scale(2);
    transition-duration: 0ms;
    z-index: 5;
}
.card:nth-child(12):hover .card-face:after {
    -webkit-animation: fade 250ms ease-out forwards;
    animation: fade 250ms ease-out forwards;
}
.card:nth-child(12):hover:after {
    top: -175px;
}

.card:nth-child(13) .card-face {
    background: url(https://i.imgur.com/s42ZngF.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transform: translateY(25.7142857143px) rotate(16.0714285714deg);
}
.card:nth-child(13) .card-face .card-label {
    color: #6edb00;
    text-shadow: -0.025em 0.025em 0 #bfff80;
}
.card:nth-child(13):hover .card-face {
    transform: translateY(-100px) rotate(0deg) scale(2);
    transition-duration: 0ms;
    z-index: 5;
}
.card:nth-child(13):hover .card-face:after {
    -webkit-animation: fade 250ms ease-out forwards;
    animation: fade 250ms ease-out forwards;
}
.card:nth-child(13):hover:after {
    top: -175px;
}

.card:nth-child(14) .card-face {
    background: url(https://i.imgur.com/OwLoc6r.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transform: translateY(31.4285714286px) rotate(19.6428571429deg);
}
.card:nth-child(14) .card-face .card-label {
    color: #c0db00;
    text-shadow: -0.025em 0.025em 0 #efff80;
}
.card:nth-child(14):hover .card-face {
    transform: translateY(-100px) rotate(0deg) scale(2);
    transition-duration: 0ms;
    z-index: 5;
}
.card:nth-child(14):hover .card-face:after {
    -webkit-animation: fade 250ms ease-out forwards;
    animation: fade 250ms ease-out forwards;
}
.card:nth-child(14):hover:after {
    top: -175px;
}

.card:nth-child(15) .card-face {
    background: url(https://i.imgur.com/KYnkjUg.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transform: translateY(37.1428571429px) rotate(23.2142857143deg);
}
.card:nth-child(15) .card-face .card-label {
    color: #dba400;
    text-shadow: -0.025em 0.025em 0 #ffdf80;
}
.card:nth-child(15):hover .card-face {
    transform: translateY(-100px) rotate(0deg) scale(2);
    transition-duration: 0ms;
    z-index: 5;
}
.card:nth-child(15):hover .card-face:after {
    -webkit-animation: fade 250ms ease-out forwards;
    animation: fade 250ms ease-out forwards;
}
.card:nth-child(15):hover:after {
    top: -175px;
}

.card:nth-child(16) .card-face {
    background: url(https://i.imgur.com/zbGomHA.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    transform: translateY(42.8571428571px) rotate(26.7857142857deg);
}
.card:nth-child(16) .card-face .card-label {
    color: #db5200;
    text-shadow: -0.025em 0.025em 0 #ffaf80;
}
.card:nth-child(16):hover .card-face {
    transform: translateY(-100px) rotate(0deg) scale(2);
    transition-duration: 0ms;
    z-index: 5;
}
.card:nth-child(16):hover .card-face:after {
    -webkit-animation: fade 250ms ease-out forwards;
    animation: fade 250ms ease-out forwards;
}
.card:nth-child(16):hover:after {
    top: -200px;
}

@-webkit-keyframes fade {
    0% {
    opacity: 0.9;
    transform: scale(1);
    }
    100% {
    opacity: 0;
    transform: scale(1.15);
    }
}

@keyframes fade {
    0% {
    opacity: 0.9;
    transform: scale(1);
    }
    100% {
    opacity: 0;
    transform: scale(1.15);
    }
}

/* Fin de l'animation cartes */


/* Début du footer */
.footer{
    width: 100%;
    background: linear-gradient(#994e0d, #f29441 80%);
}

#footer_container{ /*background du footer*/
    width: 100%;
    height:200px;
    color: white;
    display: flex;
    justify-content: space-around;
}

.logoFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    font-weight: bold;
}

.leftColumnFooter, .rightColumnFooter{ /*organisation en colonne des liens inclus dans le footer*/
display: flex;
flex-direction: column;
justify-content: center;
height:100%;
}

.leftColumnFooter a, .leftColumnFooter h5, .rightColumnFooter a{
min-width : 250px;
margin: 2px;
padding : 2px;
text-align: center;
color:white;
text-decoration : none;
}

.leftColumnFooter a, .leftColumnFooter h5{
    font-size: 1.2rem;
    font-weight: bold;
}

.leftColumnFooter a:hover{
    color: rgb(20, 20, 20);
}

.rightColumnFooter a {
    font-size: 0.8rem;
}

.rightColumnFooter a:hover{
    color: rgb(20, 20, 20);
}
#RNCP{ /*position du logo RNCP*/
    max-width: 200px;
    height: auto;
    position: relative;
    top: 100px;
    transform: rotate(290deg);
}
.copyright{ /*bande année, copyright, droits réservés*/
    font-size: small;
    color: white;
    text-align: center;
    background-color:#F29441;
    padding-bottom: 5px;
}
.rightColumnFooter a img{
    max-width: 50px;
    height: auto;
}
.rightColumnFooter{
    display: flex;
    flex-direction: column;
    justify-content:right ;
    margin: 5px;
}
.logoRS_HB{
    display: flex;
    flex-direction: column;
}
.mentions{
    display: flex;
    flex-direction: column;
}
/*Fin du footer */